.clients__container {
    background-color: #A9A9A9;
    gap: 20px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 70px;
    justify-items: center;

    @media (max-width: $portrait) {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
}
