.form {
  background-color: #36454F;
}

.form__fields {
    font-size: 18px;
    color: #FFFFFF;
    display: flex;
    gap: 40px;

    @media (max-width: $portrait) {
      display: grid;
      gap: 20px;
    }
}

.form__container {
    padding: 70px;
    text-align: center;
    display: grid;
    justify-content: center;
}

.form__fields textarea {
    width: 70%;
    border-radius: 8px;
    height: 100px;
    resize: none;
}

.form__user-name {
  margin-bottom: 30px;
  display: grid;
  justify-items: baseline;
}

.form__user-name input {
  border-radius: 8px;
  border-bottom: #DCDCDC;
}

.form__user-email {
    margin-bottom: 30px;
    display: grid;
    justify-items: baseline;
}

.form__user-email input {
  border-radius: 8px;
  border-bottom: #DCDCDC;
}

.form__button {
    border: none;
    background-color: #808080;
    border-radius: 8px;
    height: 50px;
    color: #FFFFFF;
    cursor: pointer;

    @media (max-width: 542px) {
      margin: 0 auto;
      width: 100%;
    }


}

.form__text {
    display: grid;
    gap: 10px;

    @media (max-width: $portrait) {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
    }
}

.form__wrapper {

  @media (max-width: $portrait) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.message__wrapper {
  display: grid;
    justify-items: baseline;
    width: 140%;

    @media (max-width: $portrait) {
      justify-items: center;
    }
}
