.form {
  background-color: #36454F;
}

.form__container {
    padding: 70px;
    text-align: center;
    display: grid;
    justify-content: center;
}

.form__fields textarea {
    width: 70%;
    border-radius: 8px;
    height: 100px;
    resize: none;
}

.form__user-name {
  margin-bottom: 30px;
  display: grid;
  justify-items: baseline;
}

.form__user-name input {
  border-radius: 8px;
  border-bottom: #DCDCDC;
}

.form__user-email {
    margin-bottom: 30px;
    display: grid;
    justify-items: baseline;
}

.form__user-email input {
  border-radius: 8px;
  border-bottom: #DCDCDC;
}
