
.header__container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    background-color: #A9A9A9;
    padding: 20px;
    justify-content: space-between;
}

.header__list {
    padding: 0;
    display: flex;
    gap: 40px;
    list-style-type: none;

    @media (max-width: $portrait) {
      display: grid;
      gap: 20px;
    }
}

.header__link a {
    text-decoration: none;
    color: #FFFFFF;
}
