.libretto {
  background-color: #36454F;
}

.libretto__container {
    gap: 60px;
   display: flex;
    padding: 40px;
    justify-content: space-between;
    align-items: center;


    @media (max-width: $portrait) {
      display: flex;
      flex-direction: column;
      gap: 80px;
      text-align: center;
    }
}

.libretto__container img {
  width: 300px;
  height: 300px;

  @media (max-width: $mini) {
    width: 200px;
    height: 200px;
  }
}

.libretto__texts {
  width: 33%;

  @media (max-width: $portrait) {
    width: 70%;
    text-align: center;
  }
}
