.map iframe {
  width: 100%;
    filter: grayscale(1);
    display: block;
}

.map__contacts {
  width: 320px;
  max-width: 90%;
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  position: absolute;
  z-index: 2;
  top: 17px;
  left: 28px;
}

.map {
  position: relative;
}

.map__contacts a {
  color: #000000;
  font-weight: 700;
  display: table;
}

.map__container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  padding: 0;
}

