.privacy {
  background-color: #36454F;
}

.privacy__back-icon {
  width: 80%;
  height: 80%;
}

.privacy__top-icon {
  position: absolute;
  left: 14%;
  top: 7%;
  width: 73%;
  height: 91%;
}

.privacy__texts p {
  margin: 0 auto;
}
