.privacy {
  background-color: #36454F;
}

.privacy__back-icon {
  width: 223px;
  height: 223px;
}

.privacy__top-icon {
  position: absolute;
  left: 0;
  top: 7px;
  width: 223px;
  height: 223px;
}
