@media (orientation: landscape) {
  .container {
    padding: 40px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    gap: 15%;
    display: flex;
    padding: 40px;
    justify-content: space-between;
    align-items: center;
  }

  .hero__container {
    text-align: center;
    padding: 40px 40px 200px 40px;
  }

  .privacy__container {
    display: grid;
    grid-template-columns: 30% 35% 30%;
    gap: 3%;
    justify-content: center;
    align-items: center;
  }

  .about__wrapper {
    display: flex;
    justify-content: center;
    gap: 15%;
    align-items: center;
  }

  .about__texts {
    text-align: left;
  }

  .hero__tagline {
    width: 232px;
    order: 0;
    position: absolute;
    top: 79%;
    left: 21%;
  }

  .libretto__texts {
    width: 70%;
  }

  .watchers__texts {
    width: 50%;
  }

  .form__text {
    display: grid;
    gap: 10px;
  }

  .form__button {
    border: none;
    background-color: #808080;
    border-radius: 8px;
    height: 50px;
    color: #FFFFFF;
    cursor: pointer;
  }

  .message__wrapper {
    display: grid;
      justify-items: baseline;
      width: 140%;
  }

  .form__fields {
    font-size: 18px;
    color: #FFFFFF;
    display: flex;
    gap: 40px;
  }

  .privacy__top-icon, .privacy__back-icon {
    width: 300px;
    height: 300px;
  }

  .icons {
    width: 75%;
    display: flex;
    justify-content: center;
    position: relative;
  }

  .top-icon--right {
    position: absolute;
    right: 22%;
    top: 8%;
    width: 60%;
    height: 77%;
  }


  .top-icon--left {
    position: absolute;
    left: 11%;
    top: 12%;
    width: 68%;
    height: 79%;
  }
}

@media (orientation: portrait) {
  .container {
    padding: 40px;
    text-align: center;
  }

  .about__texts {
    text-align: center;
  }


  .hero__container {
    padding: 40px;
  }

  .hero__tagline {
  position: static;
  text-align: center;
  }

  .libretto__texts {
    text-align: center;
    width: 100%;
  }

  .watchers__texts {
    width: 70%;
    text-align: center;
  }

  .privacy__container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .privacy__container p {
    width: 60%;
    text-align: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .form__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .form__button {
    margin: 0 auto;
    width: 100%;
  }

  .message__wrapper {
    justify-items: center;
  }

  .form__fields {
    display: grid;
    gap: 20px;
  }

  .top-icon--right {
    position: absolute;
    left: 31px;
    top: 19px;
    width: 184px;
    height: 184px;
  }

  .top-icon--left {
    position: absolute;
    position: absolute;
    left: 6%;
    top: 13%;
    width: 183px;
    height: 183px;
  }
}
